/*CSS portion of program*/

body
{
    font-family: "Arial", sans-serif;
    background-color: powderblue;
}

button
{
    font-family: "Arial", sans-serif;
    padding: 10px;
    margin-bottom: 12px;
    background-color: #0000ff;
    color: #FFFFFF;
    border: 0px;
    cursor:pointer;
    border-radius: 5px;
    position: relative;
}

p
{
    font-family: "Arial", sans-serif;
    position: absolute;
    font-size: 11.5px;
}

section
{
    text-align: center;
}

.container
{
    display: block;
    position: relative;
    margin-bottom: 12px;
    font-size: 22px;
    font-family: "Arial" sans-serif;
}

.game--container
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.game--restart
{
    padding: 10px;
    margin-bottom: 12px;
    background-color: #ff0000;
    color: #FFFFFF;
    border: 0px;
    cursor:pointer;
    border-radius: 5px;
    position: relative;
}

.cell
{
    font-family: "Arial" sans-serif;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
